################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fractions/v15/Server/sqlite3
/Fractions/bin/Debug
/Fractoin Tests/bin/Debug
/Fractoin Tests/obj/Debug
/Fractions/obj/Debug
